/*  your css code here. If applicable */
.container{
	margin:200px auto;
	border:2px solid;
	border-radius:14px;
	background-color:lightgrey;
	display:flex;
	text-align:center;
	padding:30px;
	justify-content:space-around;
}
.circle{
	width: 100px;
    z-index: 1111111;
    height: 100px;
    border-radius: 50%;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}